<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Piksel 2019</title>
    <link rel='stylesheet' href='../stylesheets/piksel.css' />   
    <script src="../javascripts/external/jquery-3.1.1.min.js"></script>
    <script src="../javascripts/external/socket.io.js"></script>
    <script src="../javascripts/external/perlin.js"></script>
    <script src='../javascripts/lib/pantone.js' /></script>
    <script src='../javascripts/lib/content.js' /></script>
    <script src='../javascripts/lib/svg.js' /></script>
    <script src='../javascripts/lib/canvas.js' /></script>
    <script src='../javascripts/lib/midicontrol.js' /></script>
    <script src='../javascripts/lib/utils.js' /></script>
    <script src='../javascripts/lib/time.js' /></script>
    <script src='../javascripts/lib/state.js' /></script>
    <script type="module" src='../javascripts/modulelib.js' /></script>
    <script type="module" src='../javascripts/client.js' /></script>
  </head>

  <body>
  </body>

</html>