<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Piksel 2019</title>
    <link rel='stylesheet' href='/stylesheets/piksel.css' />   
    <script src="/javascripts/external/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/external/socket.io.js"></script>
    <script src="/javascripts/external/perlin.js"></script>
    <script src="/javascripts/external/math.min.js"></script>
    <script src='/javascripts/lib/pantone.js' /></script>
    <script src='/javascripts/lib/content.js' /></script>
    <script src='/javascripts/lib/svg.js' /></script>
    <script src='/javascripts/lib/canvas.js' /></script>
    <script src='/javascripts/lib/midicontrol.js' /></script>
    <script src='/javascripts/lib/utils.js' /></script>
    <script src='/javascripts/lib/time.js' /></script>
    <script src='/javascripts/lib/state.js' /></script>
    <script src='/javascripts/lib/viewport.js' /></script>
    <script type="module" src='/javascripts/modulelib.js' /></script>
    <script type="module" src='/javascripts/controller.js' /></script>
  </head>

  <body>

    <div id="nav-panel">

      <div class="controller-container">
        <h6>Signal state</h6>
        <div id="event-queue">
        </div>
      </div>

      <div class="controller-container">
        <h6>Bus Activity</h6> 
        <div class="speedometer-container">
          <div class="speedometer" id="speedometer-send"></div><div class="speedometer" id="speedometer-render"></div>
        </div>
        <div id="bus-activity">
          <div id="bus-event-0" class="event-container"></div>
          <div id="bus-event-1" class="event-container"></div>
          <div id="bus-event-2" class="event-container"></div>
          <div id="bus-event-3" class="event-container"></div>
          <div id="bus-event-4" class="event-container"></div>
        </div>
        <div class="bus-recording">
          <span class="record-button" data-active="false"></span>
          <span class="record-title">Rec</span>          
        </div>
      </div>

      <div class="controller-container">
        <h6>System control</h6>
        <div class="button reset-button"></div>
        <div class="button refresh-button"></div>
        <div class="button start-button"></div>
        <div class="button stop-button"></div>
        <div class="button export-button"></div>
        <div class="status-text">running</div>
      </div>

      <div class="controller-container">
        <h6>Active modules</h6>
        <div class="active-module-name"></div>
      </div>

      <div class="controller-container">
        <h6>Available modules</h6>
        <ul id="module-list">
        </ul>
      </div>

      <div class="controller-container">
        <h6>Driver config</h6>
        <div class="button driver-control"></div>
        <div id="speed-control">
          <div class="label">Frequency</div>
          <input id="driver-frequency" type="number" name="quantity" min="20" max="1000" value="100">
        </div>
      </div>

    </div>

    <div class="footer">
      <div id="active-params">&nbsp;</div>
    </div>
  </body>

</html>