<!DOCTYPE html>
<html>
  <head>
    <title>HDI 3</title>
    <!-- todo: only load google fonts if local not present -->
<!--     <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Roboto+Condensed:100,300,400,500,700&display=swap" rel="stylesheet">  -->
    <link rel='stylesheet' href='/stylesheets/hdi3.css' />    
    <script src="/javascripts/external/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/external/socket.io.js"></script>
    <script src="/javascripts/external/perlin.js"></script>
    <script src='/javascripts/lib/pantone.js' /></script>
    <script src='/javascripts/lib/content.js' /></script>
    <script src='/javascripts/lib/svg.js' /></script>
    <script src='/javascripts/lib/canvas.js' /></script>
    <script src='/javascripts/lib/midicontrol.js' /></script>
    <script src='/javascripts/lib/utils.js' /></script>
    <script src='/javascripts/lib/time.js' /></script>
    <script src='/javascripts/lib/state.js' /></script>
    <link rel="import" href="/fetch">
    <script type="module" src='/javascripts/modular.js' /></script>
  </head>
  <body>

    <div id="content">

      <div id="left-content">
        <div id="left-main">
          <div class="section-title">Event Queue</div>

          <div class="progress">

            <div class="progress-box">
              <div class="progress-title">Entries processed</div>
              <div class="progress-value processed">0</div>
            </div>
            <div class="progress-box">
              <div class="progress-title">Entries remaining</div>
              <div class="progress-value remaining">111,638</div>
            </div>

          </div>

          <div id="progress-container">
            <div id="progress-bar"></div>
          </div>

          <div id="event-details">
          
<!--             <div class="event date">Friday, May 31, 2019 12:00:20 AM</div>
            <div class="event country">United States</div>
            <div class="event type">ModelOpened</div>
            <div class="event part">ESDA6V1BC6</div>
            <div class="event description">QUAD BIDIRECTIONAL TRANSIL SUPPRESSOR FOR ESD PROTECTION</div>
            <div class="event classcategory"><span class="part-class">Diodes</span> | <span class="part-category">Transient Suppressors</span></div>

            <div class="event name">Duncan MacGregor</div>
            <div class="event email">dmacgreg@tructronics.com</div>
            <div class="event company">Tructronics, Inc.</div>
 -->


            <div class="event date"></div>
            <div class="event country"></div>
            <div class="event type"></div>
            <div class="event part"></div>
            <div class="event description"></div>
            <div class="event classcategory"><span class="part-class"></span> | <span class="part-category"></span></div>

            <div class="event name"></div>
            <div class="event email"></div>
            <div class="event company"></div>

          </div>

        </div>
      </div>

      <div id="middle-content">
        <div class="section-title">Metadata</div>

        <div class="volume-label">Order volume: <span id="vol-range"></span></div>
        <div class="volume-label">Median order size: <span id="vol-median"></span></div>

      </div>

      <div id="right-content">
        <div class="section-title">Event History</div>

        <div id="minientry-container">

<!--           <div class="entry-mini">

              <div class="event date-mini">Friday, May 31, 2019 12:00:20 AM</div>
              <div class="event country-mini">United States</div>
              <div class="event type-mini">ModelOpened</div>
              <div class="event part-mini">ESDA6V1BC6</div>
              <div class="event description-mini">QUAD BIDIRECTIONAL TRANSIL SUPPRESSOR FOR ESD PROTECTION</div>
              <div class="event classcategory-mini"><span class="part-class-mini">Diodes</span> | <span class="part-category-mini">Transient Suppressors</span></div>

              <div class="event name-mini">Duncan MacGregor</div>
              <div class="event email-mini">dmacgreg@tructronics.com</div>
              <div class="event company-mini">Tructronics, Inc.</div>

          </div>
 -->
        </div>

      </div>

    </div>


  <div class="footer">
    <div id="active-params">&nbsp;</div>
  </div>



<!--         <svg id="results" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="500" height="500" viewBox="0 0 250 250"></svg> -->

<!--   <div id="header-bar"></div>
  <div id="master-grid"></div>
 -->
<!--   <div class="sidebar">

    <div id="master-force">
      <input id="master-toggle" type="checkbox" name="master_force" value="on" checked>Force Master<br>
    </div>

    <h2>MIDI Mapping</h2>
    <ul id="midi-mapping"></ul>
  </div> -->

<!--   <div id="filters">
    <div id="facets"></div>
  </div>

  <div class="footer">
    <div id="active-params">&nbsp;</div>
  </div>
 -->
  </body>
</html>