<!DOCTYPE html>
<html>
  <head>
    <title>Bleep.live</title>
    <!-- todo: only load google fonts if local not present -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap" rel="stylesheet">  -->
    <link rel='stylesheet' href='/stylesheets/homepage.css' />    
    <script src="/javascripts/external/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/external/socket.io.js"></script>
  </head>
  <body>
    <div id="container">
      <h1>Bleep.live</h1>
      <h2>Data Interfaces Research Platform</h2>
      <hr>
      <a href="/controller">Controller</a>
      <a href="/client">Client</a>
    </div>
  </body>
</html>