html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #000;
	color: #fff;
	overflow: hidden;
}

#content {
	display: flex;
	margin: 75px;
	margin-top: 60px;
}

.section-title {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 12px;
	margin-bottom: 20px;
}

.progress {
	margin-bottom: 25px;
	display: flex;
}

.progress-box {
	margin-right: 25px;
}

.progress-title {
	font-size: 10px;
	font-weight: 300;
	margin-bottom: 5px;
}

.progress-value {
	font-size: 32px;
}

#progress-container {
	min-height: 10px;
	max-width: 400px;
	background-color: #252525;
	margin-bottom: 100px;
}

#progress-bar {
	width: 1px;
	min-height: 10px;
	background-color: #aabf89;
}

.event {
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom: 10px;
}

.date {	
	font-size: 18px;
	font-weight: 300;
}

.country {
	font-size: 21px;
	margin-bottom: 50px;
}

.type {
	font-style: italic;
	border-left: 5px solid #5ec8e5;
	margin-left: -15px;
	padding-left: 15px;
	line-height: 25px;
}

.part {
	font-size: 56px;
	font-weight: 300;
	overflow: hidden;
}

.description {
	margin-bottom: 25px;
	width: 25vw;
}

.manufacturer {
	font-size: 28px;
	width: 25vw;
}

.classcategory {
	font-style: italic;	
	margin-bottom: 50px;
}

.name {
	font-size: 28px;
}

.email {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 100;
	font-size: 21px;
}

.company {
	font-size: 24px;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #abb1ba;
  color: "#000";
  text-align: left;
  min-height: 30px;
  font-weight: 100;
}

#active-params {
	margin-left: 5px;
	margin-top: 5px;
}

.param-val {
	display: inline-block;
	margin-right: 10px;
	letter-spacing: 1px;
}

#left-content {
	/*width: 40vw;*/
	width: 40%;
}

#middle-content {
	/*width: 30vw;*/
	width: 40%;
	overflow: hidden;
}

#right-content {
	/*width: 20vw;*/
	width: 20%;
/*	overflow: hidden;*/
}

.entry-mini {
	margin-top: 30px;
	height: 200px;
	border-left: 5px solid #5ec8e5;
	margin-left: -30px;
	padding-left: 30px;
}


.date-mini {	
	font-size: 10px;
	font-weight: 300;
}

.country-mini {
	font-size: 12px;
	margin-bottom: 10px;
}

.type-mini {
	font-size: 14px;
	font-style: italic;
}

.part-mini {
	font-size: 24px;
	font-weight: 300;
	overflow: hidden;
}

.description-mini {
	font-size: 8px;
	margin-bottom: 5px;
}

.classcategory-mini {
	font-style: italic;	
	font-size: 10px;
	margin-bottom: 10px;
}

.name-mini {
	font-size: 14px;
	margin-bottom: 5px;
}

.email-mini {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 100;
	font-size: 10px;
	margin-bottom: 5px;
}

.company-mini {
	font-size: 14px;
}

.volume-label {
	line-height: 21px;
	font-size: 14px;
	font-weight: 100;
}

#vol-range, #vol-median {
	font-weight: 500;
}

#pricing {
	margin-top: 25px;
}

.price-title {
	/*text-transform: uppercase;*/
	letter-spacing: 1px;
	font-size: 10px;
	margin-bottom: 10px;
}

#pricing-data, #order-total {
	margin-bottom: 25px;
	height: 15px;
}

#volume-container {
	/*display: flex;*/
	height: 150px;
}

#volume-right {
	margin-left: 50px;
}

.event-container {
	height: 400px;
}

#email-score-val {
	font-weight: 100;
}

#free-email-flag {
	margin-left: 10px;
}

#volume-graph {
	margin-top: 15px;
	margin-bottom: 50px;
}

.graph-bar {
	min-width: 10px;
	max-width: 10px;
	width: 10px;
	background-color: #252525;
	padding: 5px;
	margin-right: 5px;
	padding-right: 10px;
	font-weight: 100;
	font-size: 12px;
	overflow: hidden;
}